:root {
    --hcc-gray: #949ca6;
    --hcc-maroon: #601c2e;
}

body {
    background-color: var(--hcc-gray);
}

em {
    color: var(--hcc-maroon);
    font-style: normal;
}

.pdf {
    width: 80em;
    height: 40em;
}

.collapsible {
    margin: 2em;
    padding: 2em;
    background-color: skyblue;
}

.collapsible > button {
    float: left;
}

.footnote-ref {
    vertical-align: super;
    font-size: small;
}

.footnote {
    font-size: smaller;
}